<div class='newchar'>
    <%= form_with scope: :character, url: newchar_path, local: true do |f|%>
        <div class="form-group wrapper-newchar" id='newchar-name'>
            <h1 style='grid-area: 2 / 3 / 2 / 6; text-align: center'>Escolha o nome do seu personagem</h1>
            <%= f.text_field :name, :class => 'form-control align-self-center', :autocomplete =>'off', :required => 'true', :pattern => '.{3,}', :style => 'grid-area: 3 / 3 / 3 / 6'%>
            <a class='btn btn-primary align-self-center' onclick="fase2()" id='fase-2' style='grid-area: 4 / 4 / 4 / 5'>Continuar</a>

            <% if @char.errors.any? %>
                <div id='newchar-errors' class="toast" style="grid-area: 1/6/3/8; " role="alert" aria-live="assertive" data-autohide="false" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="mr-auto">Erros</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        <% for message_error in @char.errors.full_messages %>
                        <p><%= message_error %></p>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="form-group wrapper-newchar " id='newchar-ocupation'>
            <h1 style='grid-area: 2 / 3 / 2 / 6; text-align: center'>Escolha uma ocupação</h1>
            <%= f.select :ocupation, Character.ocupations , {}, { :class => 'form-control align-self-center', :style => 'grid-area: 3 / 3 / 3 / 6' } %>
            <a class='btn btn-primary align-self-center' id='fase-3' style='grid-area: 4 / 4 / 4 / 5'>Continuar</a>
        </div>
        <div class="form-group wrapper-newchar" id='newchar-bp'>
            <h1 style='grid-area: 2 / 3 / 2 / 6; text-align: center'>Escolha um local de nascimento</h1>
            <%= f.text_field :birth_place, :class => 'form-control align-self-center', :autocomplete =>'off', :required => 'true', :style => 'grid-area: 3 / 3 / 3 / 6'%>
            <a class='btn btn-primary align-self-center' id='fase-4' style='grid-area: 4 / 4 / 4 / 5'>Continuar</a>
        </div>
        <div class="form-group wrapper-newchar"  id='newchar-age'>
            <h1 style='grid-area: 2 / 3 / 2 / 6; text-align: center'>Qual a idade do seu personagem?</h1>
            <%= f.number_field :age, :class => 'form-control align-self-center', :autocomplete =>'off', :required => 'true', :style => 'grid-area: 3 / 3 / 3 / 6', :min => '18'%>
            <a class='btn btn-primary align-self-center' id='fase-5' style='grid-area: 4 / 4 / 4 / 5'>Continuar</a>
        </div>
        <div class="form-group wrapper-newchar"  id='newchar-mental'>
            <h1 style='grid-area: 2 / 3 / 2 / 6; text-align: center'>Seu personagem tem doenças mentais? (Opcional)</h1>
            <%= f.text_field :mental_illnesses, :class => 'form-control align-self-center', :autocomplete =>'off', :style => 'grid-area: 3 / 3 / 3 / 6'%>
            <a class='btn btn-primary align-self-center' id='fase-6' style='grid-area: 4 / 4 / 4 / 5'>Continuar</a>
        </div>
        <div class="form-group wrapper-newchar" id='newchar-sex'>
            <h1 style='grid-area: 2 / 3 / 2 / 6; text-align: center'>Escolha o sexo do seu personagem</h1>
            <%= f.text_field :sex, :class => 'form-control align-self-center', :autocomplete =>'off', :style => 'grid-area: 3 / 3 / 3 / 6', :required => 'true'%>
            <a class='btn btn-primary align-self-center' id='fase-7' style='grid-area: 4 / 4 / 4 / 5'>Continuar</a>
            <%= f.submit 'Enviar', :class => "btn btn-primary align-self-center", :id => 'submit', :style => 'grid-area: 4 / 4 / 4 / 5'%>
        </div>
    <% end %>
</div>

