<%= form_with scope: :stat, url: setstat_path, local: true do |f|%>
    <div class='setstat-wrapper'>
        <h1 class="setstat-header align-self-center" >Defina os atributos de <%=@char.name%></h1>
        <h2 class="setstat-points">
            <p id="points">460</p> pontos restantes
        </h2>
        <div class='setstat-cwrap' style="grid-area: 3 / 3 / 3 / 4" >
            <%= f.label 'Força', :class => "setstat-label bg-danger"%>
            <%= f.number_field :str, :class => 'card setstat-card bg-danger', :min => '15', :max => '90',  :autocomplete =>'off', :required => 'true', :'data-index' => '0'%>
        </div>
        <div class='setstat-cwrap' style="grid-area: 3 / 4 / 3 / 5" >
            <%= f.label 'Destreza', :class => "setstat-label bg-primary"%>
            <%= f.number_field :dex, :class => 'card setstat-card bg-primary', :min => '15', :max => '90', :autocomplete =>'off', :required => 'true', :'data-index' => '1'%>
        </div>
        <div class='setstat-cwrap' style="grid-area:3 / 5 / 3 / 6" >
            <%= f.label 'Inteligência', :class => "setstat-label bg-success"%>
            <%= f.number_field :int, :class => 'card setstat-card bg-success', :min => '15', :max => '90', :autocomplete =>'off', :required => 'true', :'data-index' => '2'%>
        </div>
        <div class='setstat-cwrap' style="grid-area: 3 / 6 / 3 / 7" >
            <%= f.label 'Constituição', :class => "setstat-label bg-warning"%>
            <%= f.number_field :con, :class => 'card setstat-card bg-warning', :min => '15', :max => '90', :autocomplete =>'off', :required => 'true', :'data-index' => '3'%>
        </div>
        <div class='setstat-cwrap' style="grid-area: 4 / 3 / 4 / 4" >
            <%= f.label 'Aparência', :class => "setstat-label bg-info"%>
            <%= f.number_field :app, :class => 'card setstat-card bg-info', :min => '15', :max => '90', :autocomplete =>'off', :required => 'true', :'data-index' => '4'%>
        </div>
        <div class='setstat-cwrap' style="grid-area: 4 / 4 / 4 / 5" >
            <%= f.label 'Poder', :class => "setstat-label bg-secondary"%>
            <%= f.number_field :pow, :class => 'card setstat-card bg-secondary', :min => '15', :max => '90', :autocomplete =>'off', :required => 'true', :'data-index' => '5'%>
        </div>
        <div class='setstat-cwrap' style="grid-area: 4 / 5 / 4 / 6" >
            <%= f.label 'Tamanho', :class => "setstat-label bg-orange"%>
            <%= f.number_field :siz, :class => 'card setstat-card bg-orange', :min => '15', :max => '90', :autocomplete =>'off', :required => 'true', :'data-index' => '6'%>
        </div>
        <div class='setstat-cwrap' style="grid-area: 4 / 6 / 4 / 7" >
            <%= f.label 'Educação', :class => "setstat-label bg-pink"%>
            <%= f.number_field :edu, :class => 'card setstat-card bg-pink', :min => '15', :max => '90', :autocomplete =>'off', :required => 'true', :'data-index' => '7'%>
        </div>
        <%= f.submit 'Continuar', :class => "btn btn-primary align-self-center", :id => 'submit', :style => 'grid-area: 5 / 4 / 5 / 6'%>
    </div>
    <%end%> 